.hero {
    .hero-inner {
        .hero-copy, .hero-image {
            flex: 0 0 50%;
        }
        .hero-image-inner {
            width: 400px;
            height: 350px;
            img {
                border-top-right-radius: 75%;
                border-bottom-right-radius: 30%;
                border-bottom-left-radius: 75%;
                border-top-left-radius: 30%;
                height: 100%;
            }
        }
    }
    h1 {
        font-family: "Satisfy", cursive;
    }
}

